### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
merged_data = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
merged_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Creating Lists
total_schools = len(school_data_df['school_name'].unique())
total_students = len(student_data_df['student_name'])
total_budget = school_data_df['budget'].sum()
avg_math_score = student_data_df['math_score'].mean()
avg_reading_score = student_data_df['reading_score'].mean()
pass_math = student_data_df.loc[student_data_df['math_score'] >= 70]['math_score'].count()
pass_read = student_data_df.loc[student_data_df['reading_score'] >= 70]['reading_score'].count()
per_pass_math = pass_math / total_students * 100
per_pass_read = pass_read / total_students * 100
overall_pass = student_data_df[(student_data_df['math_score'] >= 70) & (student_data_df['reading_score'] >= 70)]['student_name'].count()/total_students * 100

#Making Sure everythings correct
# print(total_schools)
# print(total_students)
# print(total_budget)
# print(avg_math_score)
# print(avg_reading_score)
# print(pass_math)
# print(pass_read)
# print(per_pass_math)
# print(per_pass_read)
#print(overall_pass)

#Data Frames

district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                  "Total Students": [total_students],
                                  "Total Budget": [total_budget], 
                                  "Average Math Score": [avg_math_score], 
                                  "Average Reading Score": [avg_reading_score], 
                                  "Per Passing Math": [per_pass_math], 
                                  "Per Passing Reading": [per_pass_read],
                                  "Overall Passing Rate": [overall_pass]
                                 })
# Some formatting

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["Per Passing Math"] = district_summary_df["Per Passing Math"].map("{:.2f}".format)
district_summary_df["Per Passing Reading"] = district_summary_df["Per Passing Reading"].map("{:.2f}".format)
district_summary_df["Overall Passing Rate"] = district_summary_df["Overall Passing Rate"].map("{:.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Per Passing Math,Per Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
#School Name
sch_name = merged_data.groupby(['school_name'])

#School Types
sch_type = school_data_df.set_index("school_name")["type"]

#Total Students
sch_students = sch_name["Student ID"].count()

#Total School Budget
sch_budget = school_data_df.set_index('school_name')['budget']

#Per Student Budget
stu_budget = sch_budget / sch_students

#Average Math Score
avg_math = sch_name["math_score"].mean()

#Average Reading Score
avg_read = sch_name["reading_score"].mean()

# % Passing Math
passed_math = merged_data.loc[merged_data["math_score"] >= 70].groupby('school_name')['Student ID'].count()/sch_students

# % Passing Reading
passed_reading = merged_data.loc[merged_data["reading_score"] >= 70].groupby('school_name')['Student ID'].count()/sch_students
                                                                                                    
# Overall Passing Rate
overall_passing = (passed_math + passed_reading)/2

# print(sch_type)

In [14]:
# School Summary Data Frame

sch_summary_df = pd.DataFrame({
    "School Type": sch_type,
    "Total Students": sch_students,
    "School Budget": sch_budget,
    "Student Budget": stu_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": passed_math,
    "% Passing Reading": passed_reading,
    "Overall Passing Rate": overall_passing,
})

# Rearranging Order

sch_summary_df = sch_summary_df[["School Type",
                                 "Total Students",
                                 "School Budget",
                                 "Student Budget",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "% Passing Math",
                                 "% Passing Reading",
                                 "Overall Passing Rate"
                                ]]

# sch_groups = sch_summary_df.groupby('School Name')

# Formatting

sch_summary_df["Total Students"] = sch_summary_df["Total Students"].map("{:,}".format)
sch_summary_df["School Budget"] = sch_summary_df["School Budget"].map("{:,}".format)
sch_summary_df["Student Budget"] = sch_summary_df["Student Budget"].map("{:.2f}".format)
sch_summary_df["Average Math Score"] = sch_summary_df["Average Math Score"].map("{:.1f}".format)
sch_summary_df["Average Reading Score"] = sch_summary_df["Average Reading Score"].map("{:.1f}".format)
sch_summary_df["% Passing Math"] = sch_summary_df["% Passing Math"].map("{:.2%}".format)
sch_summary_df["% Passing Reading"] = sch_summary_df["% Passing Reading"].map("{:.2%}".format)
sch_summary_df["Overall Passing Rate"] = sch_summary_df["Overall Passing Rate"].map("{:.2%}".format)

sch_summary_df

,School Type,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,73.36%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,73.81%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.51%,96.25%,94.38%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,73.64%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.33%,96.61%,94.97%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [18]:
top_schools = sch_summary_df.sort_values("Overall Passing Rate", ascending=False)
top_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})
top_schools

,School Type,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,95.27%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.33%,96.61%,94.97%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.87%,95.85%,94.86%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.51%,96.25%,94.38%
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.68%,81.93%,74.31%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,73.81%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,73.80%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,73.64%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,73.50%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,73.36%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,73.29%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [30]:
bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values("Overall Passing Rate")
bottom_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

bottom_schools

,School Type,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,73.36%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,73.64%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [39]:
math_9 = merged_data[merged_data["grade"] == "9th"].groupby("school_name").mean()["math_score"]
math_10 = merged_data[merged_data["grade"] == "10th"].groupby("school_name").mean()["math_score"]
math_11 = merged_data[merged_data["grade"] == "11th"].groupby("school_name").mean()["math_score"]
math_12 = merged_data[merged_data["grade"] == "12th"].groupby("school_name").mean()["math_score"]

grade_math = pd.DataFrame({"9th Grade":math_9,
                           "10th Grade": math_10,
                           "11th Grade":math_11,
                           "12th Grade":math_12,
                          })

grade_math = grade_math[["9th Grade","10th Grade","11th Grade", "12th Grade"]]

grade_math

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [40]:
read_9 = merged_data.loc[merged_data["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
read_10 = merged_data.loc[merged_data["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
read_11 = merged_data.loc[merged_data["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
read_12 = merged_data.loc[merged_data["grade"] == '12th'].groupby('school_name')['reading_score'].mean()


grade_read = pd.DataFrame({"9th Grade":math_9,
                           "10th Grade": math_10,
                           "11th Grade":math_11,
                           "12th Grade":math_12,
                          })

grade_read= grade_read[["9th Grade","10th Grade","11th Grade", "12th Grade"]]

grade_read

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type